*{
    margin:0;
    padding:0;
}

html{
	height:100%;
}

body{
	/*height:100%;
	background: linear-gradient(to bottom, rgba(255,0,0,0.2), rgb(174, 151, 177)) no-repeat;
	background-size:100% 100%;*/
	background-color: #9478a2;
	/*background-size:100% 100%;要放置在末尾*/
	color: #fff;
}

h1{
	font-size: 3em;
}

h2{
	font-weight:10;
}

.nav{
	height: 55px;
    display: block;
    border-bottom: #fff 2px dashed;
}

.nav ul{
	/*height: 50px;*/
	/*width: 70%;*/
	line-height: 50px;
	text-align: center;
	display: inline-block;
	float:right;	
}

.nav ul li{
	color: #fff;
	list-style: none;
	float:left;
	/*width:8%;
	min-width:80px;*/
	
}

.nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px;
	line-height:55px;
	font-weight:600;
	font-size:1em;
	text-transform: uppercase;
}

.nav label{
    display: none;
}
.nav .nav-toggle{
    display: none;
}

.outer{
	width:100%;
	height:100%;
	display:inline-block;
}

.intro{
	/*position:relative;
	float:right;
	background: rgba(255,255,255,0.3);
	margin-top:10%;*/
	margin:10%;
	padding-bottom:3%;
	width: 40%;
	border-bottom: #fff 1px dotted;
	float:left;
}

.icons{
	float:right;
}


@media screen and (max-width: 450px) {

.intro h1{
	font-size: 2em;
	margin:-5%;
}

h2{
	font-size: 1.3em;
	
}

.nav input:checked~.nav-list {
    /*position: absolute;*/
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    background-color: #8a78a2;
    z-index: 0;
    margin-top: 5%;
	width:100%;

}
.nav input:checked~.nav-list li{
 clear: both;
 background-color: #8a78a2;
 width: 100%;
 border-bottom:#fff 1px dashed;

}
.nav .nav-toggle{
    display: none;
}
.nav label{
    display: block;
    z-index: 4;
}
.nav .nav-list{
    display: none;
    margin-left: 0px;
}
.nav .nav-list li{
    margin-left: 0px;
}
.nav  .menu-icon{
     display: block;
     float: right;
     width: 36px;
     height: 26px;
     line-height: 0;
     padding-top: 15px;
     text-align: center;
     cursor: pointer;

}
.nav  .menu-icon>svg path{
     /*fill: #666;*/
     fill: #fff
}
.nav  label[for="nav-toggle"] {
     display: block;
     float: right;
     width: 36px;
     height: 36px;
     z-index: 2;
     cursor: pointer;
}
}