.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_config.yml
git push.sh

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules/
.sass-cache/
_site/
_drafts/
imgs/drafts
_posts/drafts