<!-- 关于我 -->
<div id="aboutMe">
	<div class="container_padding">
		<h2>关于我</h2>
		<div class="quote">
			<h3><span class="icon-quotes-left"></span> 不要垂头丧气，即使失去一切，明天仍在你的手中。<span class="icon-quotes-right"></span></h3>
			<h3>—— 王尔德</h3>
		</div>
		<div class="otherWordy">
			<!-- <h2>TakeAction_行动</h2> -->
			<h3>计算机专业毕业</h3>
			<h3>有无数想要被满足的好奇心</h3>
			<h3>喜欢看书、看记录片、学画画、学英语</h3>
			<h3>为了完善人生而学习</h3>
			<h3>喜欢尝试奇奇怪怪的事物</h3>
			<h3>会一直努力，变得优秀</h3>
			<h3>希望穷尽一生，找到自己生命的价值</h3>
		</div>
</div>
</div>
