<!-- 联系方式 -->
<div class="contact" id="contact">
	<div class="container_padding">
		<h2>联系方式</h2>
		<div class="quote">
			<h3><span class="icon-quotes-left"></span> 追求卓越，成功就会在不经意间追上你。<span class="icon-quotes-right"></span></h3>
			<h3>——《三傻大闹宝莱坞》</h3>
		</div>
		<div class="otherWordy">
			<h3>让我们一起努力，保持联系<span class="icon-heart"></span></h3>
		</div>
		<div class="contactList">
			<ul>
				<li><a target="_blank" title="微博：TakeAction_行动" class="icon-sina-weibo" href="https://weibo.com/u/2689245344?is_all=1"></a></li>
				<li><a target="_blank" title="B站：TakeAction_行动" class="icon-bilibili" href="https://space.bilibili.com/329955183"></a></li>
				<li><a target="_blank" title="公众号：和我一起背考研单词" class="icon-wechat" href="/imgs/qrcode_for_hw17bdc.jpg"></a></li>
				<!--
		<li><a target="_blank" title="Ins：TakeAction" class="icon-instagram" href=""></a></li>
		<li><a target="_blank" title="脸书：TakeAction_行动" class="icon-facebook2" href=""></a></li>
		<li><a target="_blank" title="油管：TakeAction_行动" class="icon-youtube" href=""></a></li>
		<li><a target="_blank" title="Github：PYkm" class="icon-github" href="https://github.com/PYkm"></a></li>
		-->
				<li><a target="_blank" title="部落格 | TA行动" class="icon-price-tags" href="/Blog"></a></li>
				<li><a target="_blank" title="商务合作" class="icon-envelop" href="mailto:TakeActionBiz@hotmail.com"></a></li>
			</ul>
		</div>
	</div>
</div>

</div>
