<div class="box">
	<div id="mobile_nav" class="mobile_nav40">
		<a class="menu_button"></a>
		<a class="logo" href="/"></a>
		<div id="nav_list" class="list40">
			<ul>
				<li><a class="HomeScroll" href="/">主页</a></li>
				<li><a class="scroll" href="#works">作品</a></li>
				<li><a class="scroll" href="#aboutMe">关于我</a></li>
				<li><a class="scroll" href="#contact">联系方式</a></li>
				<li><a href="/Blog" target="_blank">部落格</a></li>
			</ul>
		</div>
	</div>

	<div id="nav">
		<ul>
			<li><a class="HomeScroll" href="/">主页</a></li>
			<li><a class="scroll" href="#works">作品</a></li>
			<li><a class="scroll" href="#aboutMe">关于我</a></li>
			<li><a class="scroll" href="#contact">联系方式</a></li>
			<li><a href="/Blog" target="_blank">部落格</a></li>
		</ul>
	</div>

	<!-- <div id="spacePlace"></div> -->
