<!-- 作品 -->
<link rel="stylesheet" type="text/css" href="./css/popup.css">
<link rel="stylesheet" type="text/css" href="./css/magnific-popup.css">

<div id="works">
	<div class="container_padding">
		<h2>作品</h2>
		<div class="quote">
			<h3><span class="icon-quotes-left"></span> 千里之行，始于足下。<span class="icon-quotes-right"></span></h3>
			<h3>—— 老子</h3>
		</div>


		<!-- 作品集开始  -->
		<div class="recoGallery">

			<!-- Website -->
			<div class="image">
				<div class="block imgBlk_right works_website">
					<!-- <img src="./imgs/recoGallery/website_intro.png" alt="个人站: TA行动" /> -->
				</div>
				<div class="contents block content_left">
					<div class="contentsInner">
						<h2>个人站: TA行动 <a target="_blank" title="首页：TA_行动" class="icon-home" href="/"></a></h2>
						<h3>Since July 2020</h3>
						<p>个人站全新改版，之前的版本只是一封简单的信，有点偷懒，早就想更新了，这次终于动手了。其实整个设计过程大概持续了一个半月。内容虽然不多，但是网站配色、设计、工具等经过了几次改版，终于成了你现在看到的样子啦~</p>
					</div>
				</div>
			</div>
			
			<!-- 微信 -->
			<div class="image">
				<div class="block imgBlk_left works_square">
					<img src="/imgs/recoGallery/wechat_logo.png" alt="公众号：和我一起背考研单词" />
				</div>
				<div class="contents block content_right">
					<div class="contentsInner">
						<h2>公众号：和我一起背考研单词 <a target="_blank" title="公众号：和我一起背考研单词" class="icon-wechat" href="/imgs/qrcode_for_hw17bdc.jpg"></a></h2>
						<h3>Since June 2020</h3>
						<p>公众号创立初衷：在背考研单词的过程中，把我的记忆方法分享出去，让记单词这件棘手又无法避免的事情变得更加有趣。和一群志同道合的朋友一同进步。</p>
					</div>
				</div>
			</div>

			<!-- Bili -->
			<div class="image">
				<div class="block imgBlk_right works_blog">
					<!-- <img src="./imgs/recoGallery/blog_img.png" alt="部落格 | TA行动" /> -->
				</div>
				<div class="contents block content_left">
					<div class="contentsInner">
						<h2>部落格 | TA行动 <a target="_blank" title="部落格 | TA行动" class="icon-price-tags" href="/Blog"></a></h2>
						<h3>Since May 2020</h3>
						<p>部落格建立已久，2018-2019年分享的更多的是书单、绘画、旅游见闻，是那种自己很希望记录，但是对看客帮助不大的博文，而且第一版配色有一些诟病的地方。所以下决心做了更新，包括配色以及内容。配色用上了我喜欢的绿色，参考了很多图片、设计，终于完成。内容添加了更多技能、技巧分析，希望对别人更有帮助。</p>
					</div>
				</div>
			</div>

			<!-- blog -->
			<div class="image">
				<div class="block imgBlk_left works_bili">
					<!-- <img src="./imgs/recoGallery/bili_logo.png" alt="B站：TakeAction_行动" /> -->
				</div>
				<div class="contents block content_right">
					<div class="contentsInner">
						<h2>B站：TakeAction_行动 <a target="_blank" title="B站：TakeAction_行动" class="icon-bilibili" href="https://space.bilibili.com/329955183"></a></h2>
						<h3>Since Feb 2020</h3>
						<p>视频媒体火了一段时间了，被吸引原因是可以展示自己，分享自己的一些方法、见闻。不需要是最好的，只要一直在成长就好了，被很多Youtuber吸引，也希望成长为自己想象中的样子。</p>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>
